<settings>
    <setting propertyKey="@Properties.colorWhite" title="@Strings.colorWhite">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.colorRed" title="@Strings.colorRed">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.colorGreen" title="@Strings.colorGreen">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.colorOrange" title="@Strings.colorOrange">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.colorYellow" title="@Strings.colorYellow">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.showHints" title="@Strings.showHints">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.autoOffSec" title="@Strings.autoOff">
        <settingConfig type="list">
            <listEntry value="0">@Strings.autoOffNever</listEntry>
            <listEntry value="5">@Strings.autoOff5</listEntry>
            <listEntry value="10">@Strings.autoOff10</listEntry>
            <listEntry value="30">@Strings.autoOff30</listEntry>
            <listEntry value="60">@Strings.autoOff60</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.donateInfo"
        title="@Strings.donateInfoTitle"
        prompt="@Strings.donateInfoPrompt">
        <settingConfig type="alphaNumeric" />
    </setting>
</settings>