<settings>
    <setting propertyKey="@Properties.colorWhite" title="Barva: White">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.colorRed" title="Barva: Red">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.colorGreen" title="Barva: Green">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.showHints" title="Zobrazovat hinty">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.autoOffSec" title="Auto-vypnutí">
        <settingConfig type="list">
            <listEntry value="0">Never</listEntry>
            <listEntry value="5">5 s</listEntry>
            <listEntry value="10">10 s</listEntry>
            <listEntry value="30">30 s</listEntry>
            <listEntry value="60">60 s</listEntry>
        </settingConfig>
    </setting>
</settings>